#rightSide{
    height: 75%;
    width: 50%;
    top:10%;
    background-color: white;
    position: fixed;
    left: 30%;
    color: red;
    border: solid 1px black; 
} 
/* #header{
     height :10%;
     width: 100%;
     top: 10%;
     background-color: black;
     position: fixed;
     color: white;

}
#leftSide{
    height: 75%;
    width: 15%;
    top:10%;
    position: fixed;
}*/

/* #topSpan{
    top:15%;
    width:80%;
    left:17%;
    position: fixed;

} */